*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
  
}
.a{
    box-shadow: inset 0px 5px 10px 0px rgba(0, 255, 255, 1.5);
}


#page{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#page>video{
    height: 100%;
    width: 50%;
   position: absolute;
    object-fit: cover;
    top: 5%;
 
 
}
#page>h1{
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 400;
    z-index: 10;
}


.body{
    background-color: black;
} 
.box{
   
    box-shadow: rgba(0, 255, 255, 0.25) 0px 54px 55px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 255, 0.12) 0px 4px 6px, rgba(0, 255, 255, 0.17) 0px 12px 13px, rgba(0, 255, 255, 0.09) 0px -3px 5px;
   
}
.youtube{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10%;
}
.youtube>iframe{
    margin: 10%;
    border-radius: 10px;
    border: 1px solid rgb(0, 255, 255);
    box-shadow: rgba(0, 255, 255, 0.25) 0px 54px 55px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 255, 0.12) 0px 4px 6px, rgba(0, 255, 255, 0.17) 0px 12px 13px, rgba(0, 255, 255, 0.09) 0px -3px 5px;
}
.navii{
    border: 1px solid #00ffff;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 30%;
    box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.5);
    font-weight: 500;
       
}
.page2{
    width: 100%;
    height: 60%;
   margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    
}
.dpe{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: rgba(0, 255, 255, 0.25) 0px 54px 55px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 255, 0.12) 0px 4px 6px, rgba(0, 255, 255, 0.17) 0px 12px 13px, rgba(0, 255, 255, 0.09) 0px -3px 5px;
    border: 1px solid #00ffff;

}
.page2>.dpe>img{
    width: 250px;
    
    
}
.dpe:hover video{
    background: transparent;
}
#username{
    color: black;
    position: relative;
   
    font-size: 40px;
    font-weight: 800;
    -webkit-text-stroke: 1px #00ffff ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}
.para{
    width: 100%;
    margin-top: 30px;
    
}
.page3{
    width: 100%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.page3>h3{
    color: #fff;
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-size: 15px ;
}
.page4{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   

}
.skills{
    width: 200px;
    height: 200px;
    overflow: hidden;
border-radius: 50%;
margin-top: 40px;
position: relative;
margin-bottom: 20px;
flex-wrap: wrap;

box-shadow: rgba(0, 255, 255, 0.25) 0px 54px 55px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 255, 0.12) 0px 4px 6px, rgba(0, 255, 255, 0.17) 0px 12px 13px, rgba(0, 255, 255, 0.09) 0px -3px 5px;
border: 1px solid #00ffff;

}
.skills>img{
    width: 250px;
    object-fit: cover;
    width: 100%; 
    height: 100%;
}
.skills>h2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #00ffff ;
    position: absolute;
    z-index: 10;
    color: black;
    font-weight: 800;
    transition: all ease o.5s;
    font-size: 20px;
}
.skills:hover h2{
    color: white;
    background: transparent;
}
.page4>h1{
    font-size: 50px;
    padding: 20px;
    font-weight: 800;
}
#work{
   text-align: center;
   margin-top: 30px;
   font-size: 50px;
   font-weight: 800;
  -webkit-text-stroke: 1px #00ffff;
}
.page5{
    width: 100%;
    height: 60vh;
   
    margin-top: 20px;
}
.page5>h2{
    text-align: center;
    font-size: 40PX;
    color: white;
    margin-top: 30px;
    font-weight: 800;
}
.culr{
    box-shadow: rgba(0, 255, 255, 0.25) 0px 54px 55px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 255, 0.12) 0px 4px 6px, rgba(0, 255, 255, 0.17) 0px 12px 13px, rgba(0, 255, 255, 0.09) 0px -3px 5px;
    border: 1px solid #00ffff;
    
}
.imgis{
    width: 500px;
    height: 500px;
}
/* @media only screen and (max-width:425px) {
    .skills{
        width: 100px;
        height: 100px;
    
    }
    .skills>h2{
        
        font-weight: 800;
       
        font-size: 10px;
    }
} */
.footer{
    width: 100%;
    height: 50%;
    box-shadow: rgba(0, 255, 255, 0.25) 0px 54px 55px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 255, 0.12) 0px 4px 6px, rgba(0, 255, 255, 0.17) 0px 12px 13px, rgba(0, 255, 255, 0.09) 0px -3px 5px;
    border-top: 1px solid #00ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
   
    gap: 40px;
 
   -webkit-text-stroke: 1px #00ffff;
}
.footer>a{
font-size: 30px;
margin-right: 40px;

}
.footer>h3{
    margin-left: 20px;
    margin-top: 20px;
}
.footer>p{
    margin-top: 20px;
}
.footer:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.25);
  }
